* {
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
}

.navbar {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid gold;
}

.logo-gs {
    width: 9%;
}

.navbar img {
    width: 100%;
    height: auto;
}

.navbar-links ul {
    margin: 40px 0 0 0;
    padding: 10px;
    display: flex;
    font-size: 2rem;
}

.navbar-links ul li {
    list-style-type: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
    padding: 0 10px 0 10px;
    display: block;
}

.navbar-links ul li a:hover {
    border-radius: 10%;
    text-decoration-line: overline;
    text-decoration-color: #00ffff;
    transition: ease-in 0.1s;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.content {
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/section-img.jpg) center no-repeat;
    background-size: cover;
    padding: 20px 10px 20px 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.container .child {
    width: 400px;
}

.container .child h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.container .child img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.container .child-1 {
    width: 550px;
    text-align: center;
    border: 2px inset white;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
    padding:5px 0 5px 0;
    margin:20px 0 10px 0;
}

.container .child-1 h3 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.container .child-1 button {
    padding: 20px 40px 20px 40px;
    background-color: rgb(163, 159, 159);
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
    margin: 10px 0 40px 0;
    font-family: 'Architects Daughter', cursive;
}

.container .child-1 button:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}

/* modals  */
.modal-book,
.modal-book1,
.modal-book2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-book,
.modal-book1,
.modal-book2    {
    text-align: center;
}
.modal-book h3,
.modal-book1 h3,
.modal-book2 h3{
    font-size:2rem;
    margin:0 0 10px 0;
}
.modal-book input[type=text],
.modal-book input[type=email],
.modal-book input[type=tel],
.modal-book input[type=date],
.modal-book1 input[type=tel],
.modal-book2 textarea
{
    width:90%;
    margin:0 0 20px 0;
    padding:0 0 20px 0;
    font-size:1.5rem;
}
.modal-book input[type=submit],
.modal-book1 input[type=submit],
.modal-book2 input[type=submit]{
    width:20%;
    border-radius:30px;
    padding:15px;
}
.modal-book input[type=submit]:hover,
.modal-book1 input[type=submit]:hover,
.modal-book2 input[type=submit]:hover{
    background-color:orange;
    cursor: pointer;
}
.modal,
.modal1,
.modal2 {
    background-color:#f3d4d4;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#times,
#times1,
#time{
    color: #aaaaaa;
    float: right;
    margin: -10px 0 0 0;
    font-size: 34px;
    font-weight: bold;
}

#times:hover,
#times:focus,
#times1:hover,
#times1:focus,
#time:hover,
#time:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.content-ai{
    height: auto;
    background-color:#d1d1d1;
    padding: 10px 10px 20px 10px;
}
.content-ai h2{
    text-align:center;
    text-decoration:overline;
}
.ai-container{
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}
.ai-child {
    width:400px;
    padding:10px;
    margin:20px 0 20px 0;
    border-radius: 20px;
    background: #d1d1d1;
    box-shadow:  14px 14px 28px #b0b0b0,
                 -14px -14px 28px #f2f2f2;
    border-radius: 20px;
}
.ai-child p{
    text-align:justify;
}
.ai-child img{
    width:100%;
    height:auto;
    opacity:0.7;
    border-radius:20px;
}
.fcontainer{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    background-color:black;
}
.fchild{
    width:300px;
    color:white;
    text-align:center;
    margin:10px 0 0 0;
}
.fchild h2{
    font-size:2rem;
}
.fchild a{
    font-size:2rem;
    color:white;
    border-radius:10px;
}
.fchild p{
    font-size:2rem;
}
.fchild a:hover{
    background-color:greenyellow;
    color:black;
}
.fchild img{
    width:35%;
    height:auto;
}

/* media-query */
/* tablet */
@media screen and (max-width:768px) {
    .logo-gs {
        width: 13%;
    }
    .container .child-1 h3,
    .container .child h3,
    .container .child-1 button{
        font-size:1rem;
    }
    .modal-book,
.modal-book1,
.modal-book2{
    padding:300px 0 0 0;
}
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        margin: 15px 0 5px 10px;
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        margin: 0;
        width: 100%;
        font-size:1rem;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .fchild{
        width:250px;
    }
}